{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/loading.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/toolbox.css' %}">
    <script type="module" src="{% static 'main/js/paintapp.js' %}" defer></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
    </script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    {% block body %}
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
    </div>


    <div class="canvas-container" id="draggable">
        <canvas id="canvas" width="640" height="480"></canvas>
        <img id="canvas-background" src="">
    </div>

    <div class="canvas-cursor"></div>

    <div class="toolbox editing">
        <div class="group command">
            <div class="item clickable">
                <label for="imageLoader" style="cursor: pointer; margin: -1px;">
                    <img src="{% static 'main/image/upload.svg' %}" alt="">
                    <br />Upload
                </label>
                <input id="imageLoader" type="file" onclick="this.value=null;" type="file" accept=".jpg, .jpeg, .png"
                    style="display: none;" />
            </div>
            <!-- <div class="item" data-command="undo">
                <img src="{% static 'main/image/undo.svg' %}" alt="">
                <br />Undo
            </div>
            <div class="item" data-command="redo">
                <img src="{% static 'main/image/redo.svg' %}" alt="">
                <br />Redo
            </div> -->
        </div>
        <div class="group-separator"></div>
        <div class="group tool">
            <div class="item clickable" data-tool="dragger">
                <img src="{% static 'main/image/grab.svg' %}" alt="">
                <br />Move
            </div>
            <div class="item clickable" data-tool="paint-bucket">
                <img src="{% static 'main/image/paint-bucket.svg' %}" alt="">
                <br />Bucket
            </div>
            <div class="item clickable active" data-tool="brush">
                <img src="{% static 'main/image/brush.svg' %}" alt="">
                <br />Brush
            </div>
            <div class="item clickable" data-tool="eraser">
                <img src="{% static 'main/image/eraser.svg' %}" alt="">
                <br />Eraser
            </div>
            <div class="item2">
                <input type="number" id="brushSize" name="brush-size" min="15" max="60" step="5" value="25">
                <br />Brush size
            </div>
        </div>
        <div class="group-separator"></div>
        <div class="group color">
            <div class="item clickable active" data-color="#808080">
                <div class="swatch" style="background-color: #808080"></div>
                Unsure
            </div>
            <div class="item clickable" data-color="#37d61a">
                <div class="swatch" style="background-color: #37d61a"></div>
                Certain
            </div>
        </div>
        <div class="group-separator"></div>
        <div class="group result">
            <div class="item" data-result="restart">
                <img src="{% static 'main/image/restart.svg' %}" alt="">
                <br />Restart
            </div>
            <div class="item" data-result="predict">
                <img src="{% static 'main/image/predict.svg' %}" alt="">
                <br />Predict
            </div>
            <div class="item" data-result="download">
                <img src="{% static 'main/image/download.svg' %}" alt="">
                <br />Download
            </div>
        </div>
    </div>

    <div class="loading-animation">
        <div class="label">Predicting</div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>

    {% endblock %}
</body>

</html>